.contact-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


form{
  width: 80%;
}
.inputfield{
  color: white;
  height: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;

  
}

.inputfield input{
  width: 100%;
  color: white;
  background-color: transparent;
    
    border: none;
    padding: 0;
    margin: 0;
  
    
    background: none;
  
    outline: none;
  
   
    font: inherit;  
    
   
    -webkit-appearance: none; 
    -moz-appearance: none;     
    appearance: none;  
    height: 35px;
    padding: 0px 26px;
    align-items:start;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Views-Darker, linear-gradient(0deg, rgba(46, 46, 46, 0.08) 0%, rgba(48, 48, 48, 0.08) 100%), rgba(214, 214, 214, 0.09));
    background-blend-mode: luminosity, color-burn;
}