*{
  margin: 0;
  padding: 0;
}

.hotel{
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 190px;
  padding: 12px;
  gap: 5px;
  border-radius: 10px;
  margin: 5px;
  background: linear-gradient(0deg, rgba(94, 94, 94, 0.148) 0%, rgba(94, 94, 94, 0.093) 100%), rgba(255, 255, 255, 0.071);
  background-blend-mode: color-dodge, lighten;
  align-items: center;
}
.hotel .image{
  width: 160px;
  height:160px;
  
}

.hotel .image img{
  width: 100%;
  height: 120px;
  border-radius: 8px;
  
}

.hotel .content{
  display: flex;
  flex-direction: column;
  color: aliceblue;
  gap: 5px;
  width: 100%;
  
}
.hotel .hotel-details{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.hotel .place{
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  color:rgba(200, 243, 248, 0.545);
  
}

.hotel-rating{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: white;
  padding: 2px 4px;
  background-color: rgb(2, 94, 2);
  border-radius: 15%;
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; 
}

.hotel-name{
  overflow: hidden;
}